<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.app359788" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>WiFind</name>
  <description>
        An app that maps the locations of WiFi access points.
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="android-build-tool" value="gradle" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <plugin name="wifiwizard"/>
  <plugin name="cordova-plugin-mauron85-background-geolocation" source="npm"/>
  <plugin name="cordova-plugin-whitelist"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-network-information"/>
  <plugin name="cordova-plugin-app-version"/>

  <icon src="icon.png" />
  <platform name="android">
    <icon src="img/icon/icon_36_36_.png" density="ldpi"/>
    <icon src="img/icon/icon_48_48.png" density="mdpi"/>
    <icon src="img/icon/icon_72_72.png" density="hdpi"/>
    <icon src="img/icon/icon_96_96.png" density="xhdpi"/>
    <icon src="img/icon/icon_144_144.png" density="xxhdpi"/>
    <icon src="img/icon/icon_192_192.png" density="xxxhdpi"/>
  </platform>
</widget>
