<ion-view view-title=''>
    <ion-content>
        <ion-toggle ng-model="settings.enableScanning" toggle-class="toggle-assertive" class="enable-scanning">Enable Scanning</ion-toggle>
        <ion-list class="main-page-list">
            <!--<ion-item ng-repeat="network in networks">
                {{network.SSID}} ({{network.level}})
            </ion-item>-->
            <ion-item style="background-color:#529ed5">
              <div><div><div>{{stats.total}} Total Access Points Scanned</div></div></div>
            </ion-item>
            <ion-item style="background-color:#4b79af">
              <div><div><div>{{stats.current}} Current Access Points</div></div></div>
            </ion-item>
            <ion-item style="background-color:#464f95">
              <div><div><div>{{stats.today}} Access Points Today</div></div></div>
            </ion-item>
            <ion-item style="background-color:#413d71">
              <div><div><div>{{stats.yesterday}} Access Points Yesterday</div></div></div>
            </ion-item>
            <ion-item style="background-color:#222950">
              <div><div><div>{{stats.month}} Access Points This Month</div></div></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
